bucket         = "your-terraform-state-bucket"
key            = "kaboocam-post/prod/terraform.tfstate"
region         = "ap-northeast-2"
dynamodb_table = "your-terraform-lock-table"
encrypt        = true
